@page
@model DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EditorConfigFile</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EditorConfigFile.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EditorConfigFile.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EditorConfigFile.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EditorConfigFile.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EditorConfigFile.FilePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EditorConfigFile.FilePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EditorConfigFile.IsRoot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EditorConfigFile.IsRoot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EditorConfigFile.FileHash)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EditorConfigFile.FileHash)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="EditorConfigFile.Id"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-page="./Index" asp-route-projectId="@Model.EditorConfigFile.Project.Id">Back to List</a>
    </form>
</div>